body {
  font-family: Roboto;
  margin: 0;
}

.header {
  background-color: #1f2937;
}

ul {
  list-style-type: none;
  margin: 0;
  /* padding: 0; */
}

a {
  text-decoration: none;
}

a,
p,
.header-image {
  color: #e5e7eb;
}

.logo,
h1,
button {
  color: #f9faf8;
}

.logo {
  font-weight: 700;
}

button {
  background-color: #3882f6;
}

.header-image {
  background-color: #6c737c;
}

.header-links {
  display: flex;
  justify-content: space-around;
}

.TheMid {
  display: flex;
  flex: 1;
  flex-direction: column;
}

img {
  width: 90%;
  height: 90%;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
}

.image {
  display: flex;
  justify-content: center;
  align-self: center;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 52px;
}

.info-title {
  font-size: 24px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  /* margin-bottom: 32px; */
  margin: 30px;
  /* padding: 10px; */
}

.image-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}

.items {
  max-width: 200px;
  /* margin-bottom: 30px; */
  margin: 30px;
}

.quote {
  background-color: #e5e7eb;
  /* display: flex; */
  /* flex: 1; */
}

.quote-text {
  font-weight: 250; /* used for making it a "light" font */
  font-style: italic;
  font-size: 36px;
}

.box {
  background-color: #3882f6;
}

.footer {
  background-color: #1f2937;
  color: #e5e7eb;
  /* font-family: "Times New Roman", Times, serif; */
}
